<div>
  <div><h2>Listar Planes de Evacuacion</h2></div>
  <div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id_plan_evacuacion}} </td>
        </ng-container>

        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef> Rutas de Evacuación </th>
            <td mat-cell *matCellDef="let element"> {{element.rutas_evacuacion}} </td>
        </ng-container>

        <ng-container matColumnDef="c5">
            <th mat-header-cell *matHeaderCellDef> Puntos Seguros </th>
            <td mat-cell *matCellDef="let element"> {{element.puntos_seguros}} </td>
        </ng-container>

        <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef> Nombre Zona </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.zona?.nombre_zona}} 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['c1', 'c2', 'c3', 'c4', 'c5', 'c6']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['c1', 'c2', 'c3', 'c4', 'c5', 'c6'];"></tr>
    </table>
  </div>
</div>
