<div>
    <div><h2>Listar Usuarios</h2></div>
    <div>
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
            <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef> Id Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>

            <ng-container matColumnDef="c4">
                <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.fechanacimiento}} </td>
            </ng-container>

            <ng-container matColumnDef="c5">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

            <ng-container matColumnDef="c6">
                <th mat-header-cell *matHeaderCellDef> RUC </th>
                <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
            </ng-container>

            <ng-container matColumnDef="c7">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
            </ng-container>

            <ng-container matColumnDef="c8">
                <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="c9">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <ng-container matColumnDef="c10">
                <th mat-header-cell *matHeaderCellDef> Habilitado </th>
                <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef=" ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']"></tr>
            <tr mat-row *matRowDef="let row; columns:  ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10'];"></tr>
        </table>
    </div>
</div>