<div>
    <div><h2>Listar Roles</h2></div>
    <div>
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
            <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef> Id Rol</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef> Tipo Rol </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoRol}} </td>
            </ng-container>

            <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef> Id Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.us.id_usuario}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['c1', 'c2', 'c3']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['c1', 'c2', 'c3'];"></tr>
        </table>
    </div>
</div>